exportPattern("^[[:alpha:]]+")


importFrom(assertthat, assert_that)
importFrom(assertthat, are_equal)
importFrom(numDeriv, grad)
importFrom(testthat, test_that)
importFrom(stats, integrate)
importFrom(distr, AbscontDistribution)
importFrom(stats, uniroot)
importFrom(distr, r)



export(h_x)
export(h_x_d)
export(h_x_d_d)
export(pos)
export(logcon)
export(initialize)
export(uk)
export(sk)
export(lk)
export(z_update)
export(add)
export(sample_one)
export(sample_one_reject)
